.form-area {
  width: 1200px;
  margin: 25px auto;
  border-top: solid 1px #e8e8e8;
  padding-bottom: 25px;

  .title-form {
    margin: 25px 0;
    width: 174px;
    height: 24px;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.18px;
    color: #888888;
  }

  .books-form {
    input {
      width: 664px;
      height: 45px;
      border-radius: 4px;
      border: solid 1px #e8e8e8;
      background-color: #ffffff;
      font-size: 20px;
      padding-left: 10px;
    }
  }
}

.select-box {
  width: 285px;
  height: 45px;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #ffffff;
  appearance: none;
  margin-left: 20px;
}

.icon-select-mate {
  margin-left: -25px;
  padding-top: 20px;
}

button {
  width: 184px;
  height: 45px;
  border-radius: 3px;
  background-color: #0290ff;
  border: none;
  font-size: 13px;
  font-weight: 300;  
  letter-spacing: 0.5px;
  color: #ffffff;
  font-weight: bold;
  margin-left: 28px;
}
